html {
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
}

.r-0 {
    right: 0;
}

.l-0 {
    left: 0;
}

.b-0 {
    bottom: 0;
}

.t-0 {
    top: 0;
}

header {
    z-index: 2;
    transition: top 0.3s ease-in-out;
}

#seccion:hover {
    color: #000;
}

#sidebar {
    width: 250px;
    margin-left: 0;
    overflow-x: hidden;
    z-index: 2;
    transition: all 0.3s;
}

#contenido {
    margin-left: 250px;
}

#sidebar.shownMD {
    margin-left: 0;
}

#contenido.shownMD {
    margin-left: 250px;
}

#sidebar.shownSM {
    width: 250px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #contenido {
        margin-left: 0;
    }
}

@media (max-width: 640px) {
    #sidebar {
        width: 0;
        margin-left: 0;
    }
    
    #contenido.shownMD {
        margin-left: 0;
    }
}

.perimetro {
    background-image: url("../imgs/Proyectos/calcGeometrica/perimetro.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.area {
    background-image: url("../imgs/Proyectos/calcGeometrica/area.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.volumen {
    background-image: url("../imgs/Proyectos/calcGeometrica/volumen.svg");
    background-position: center;
    background-repeat: no-repeat;
}

#carrusel {
    z-index: 0;
}

.rastrear {
    top: 50%;
    left: 50%;
    margin-left: -33.33333334%;
    z-index: 0;
}

.mapa {
    height: 100%;
    width: auto;
}

.img-carrito {
    height: auto;
    width: 40%;
}

.h-500 {
    height: 500px
}

.h-200{
    height: 200px;
}

#carrito{
    z-index: 1;
}